body {
  background-color: green !important;
}

table {
  border-spacing: 0px;
  background-image: url("https://i.imgur.com/ibIVD0Y.jpg");
  background-size: cover;
}

td {
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 24px;
  color: #cccccc;
  background: #cccccc;
}


td.col-5 {
  border: 0px!important;
  background: #cccccc;
  color: #cccccc;
}

/*
tr.row-0 td:first-child {
  border-top-left-radius: 15px;

}

tr.row-0 td:nth-last-child(2) {
  border-top-right-radius: 15px;
}

tr.row-4 td:first-child {
  border-bottom-left-radius: 15px;
}

tr.row-4 td:nth-last-child(2) {
  border-bottom-right-radius: 15px;
} */
/*
tr.row-1 td.col-1, tr.row-1 td.col-3, tr.row-3 td.col-1, tr.row-3 td.col-3 {
  border-radius: 15px;
  border: 20px #4c4c4c double;
  color: #cccccc;
} */
